.my-header {
  height: var(--header-width);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--white);
  transition: all 1s ease;
  padding-left: 10%;
  padding-right: 10%;

  a {
    font-weight: 500;
  }

  @media (max-width: 1024px) {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem !important;
    height: auto !important;
  }
}